name: Test build

on:
  pull_request:

jobs:
  test-deploy:
    name: Install dependencies and validate build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Test build website
        run: npm run build
